<a href="https://colab.research.google.com/github/anushirahatti/mit/blob/master/covid_inpatient_cases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ingest

In [0]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt

In [2]:
inpatient_cases_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/mit/master/inpatient_cases_data.csv")
inpatient_cases_data.head()

   Gender  Age  ... COVID-19 RNA clearance Chest CT findings at discharge
0    Male   47  ...                      N                       Advances
1  Female   53  ...                      Y                     Absorption
2  Female   57  ...                      Y                      No change
3    Male   58  ...                      N                       Advances
4    Male   54  ...                      Y                     Absorption

[5 rows x 20 columns]

# Data Preprocessing

In [0]:
#Binning age

def age_group(x):
    if int(x) >= 0 and int(x) < 18:
        x = "Children"
    elif int(x) >= 18 and int(x) < 26:
        x = 'Young Adults'
    elif int(x) >= 26 and int(x) < 41:
        x = 'Adults'
    elif int(x) >= 41 and int(x) < 61:
        x = 'Middle Aged Adults'
    elif int(x) >= 61:
        x = 'Old Adults'
    return x
inpatient_cases_data['Age Group'] = inpatient_cases_data.Age.apply(age_group)

In [4]:
inpatient_cases_data.head()

   Gender  Age  ... Chest CT findings at discharge           Age Group
0    Male   47  ...                       Advances  Middle Aged Adults
1  Female   53  ...                     Absorption  Middle Aged Adults
2  Female   57  ...                      No change  Middle Aged Adults
3    Male   58  ...                       Advances  Middle Aged Adults
4    Male   54  ...                     Absorption  Middle Aged Adults

[5 rows x 21 columns]

In [0]:
inpatient_cases_data = inpatient_cases_data.drop(['Age'], axis=1)

In [6]:
print(inpatient_cases_data.columns)

Index(['Gender', 'Clinical classification', 'Comorbidities',
       'Cardiovascular and cerebrovascular disease',
       ' Endocrine system disease', 'Malignant tumor',
       'Respiratory system disease', 'Digestive system disease',
       'Renal disease', 'Liver disease', 'Fever', 'Cough', 'Chest tightness',
       'Fatigue', 'Diarrhea', 'Other Signs and Symptoms', 'Clinical outcome',
       'COVID-19 RNA clearance', 'Chest CT findings at discharge',
       'Age Group'],
      dtype='object')

In [7]:
inpatient_cases_data.columns = inpatient_cases_data.columns.str.strip()
inpatient_cases_data.columns.tolist()

['Gender',
 'Clinical classification',
 'Comorbidities',
 'Cardiovascular and cerebrovascular disease',
 'Endocrine system disease',
 'Malignant tumor',
 'Respiratory system disease',
 'Digestive system disease',
 'Renal disease',
 'Liver disease',
 'Fever',
 'Cough',
 'Chest tightness',
 'Fatigue',
 'Diarrhea',
 'Other Signs and Symptoms',
 'Clinical outcome',
 'COVID-19 RNA clearance',
 'Chest CT findings at discharge',
 'Age Group']

In [8]:
col = ['Gender','Clinical classification','Clinical outcome','Chest CT findings at discharge','Age Group']
inpatient_cases_data = pd.get_dummies(inpatient_cases_data, columns=col)
inpatient_cases_data.head(5)

  Comorbidities  ... Age Group_Young Adults
0             N  ...                      0
1             N  ...                      0
2             N  ...                      0
3             Y  ...                      0
4             N  ...                      0

[5 rows x 30 columns]

In [0]:
for i in inpatient_cases_data.columns:
    inpatient_cases_data[i].replace('Y', True, inplace=True)
    inpatient_cases_data[i].replace('N', False, inplace=True)
    inpatient_cases_data[i].replace(1, True, inplace=True)
    inpatient_cases_data[i].replace(0, False, inplace=True)

In [10]:
inpatient_cases_data.head(5)

   Comorbidities  ...  Age Group_Young Adults
0          False  ...                   False
1          False  ...                   False
2          False  ...                   False
3           True  ...                   False
4          False  ...                   False

[5 rows x 30 columns]

In [11]:
inpatient_cases_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 30 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Comorbidities                                              73 non-null     bool
 1   Cardiovascular and cerebrovascular disease                 73 non-null     bool
 2   Endocrine system disease                                   73 non-null     bool
 3   Malignant tumor                                            73 non-null     bool
 4   Respiratory system disease                                 73 non-null     bool
 5   Digestive system disease                                   73 non-null     bool
 6   Renal disease                                              73 non-null     bool
 7   Liver disease                                              73 non-null     bool
 8   Fever                                                      73 non-null     bool
 9   Cough                                                      73 non-null     bool
 10  Chest tightness                                            73 non-null     bool
 11  Fatigue                                                    73 non-null     bool
 12  Diarrhea                                                   73 non-null     bool
 13  Other Signs and Symptoms                                   73 non-null     bool
 14  COVID-19 RNA clearance                                     73 non-null     bool
 15  Gender_Female                                              73 non-null     bool
 16  Gender_Male                                                73 non-null     bool
 17  Clinical classification_Heavy                              73 non-null     bool
 18  Clinical classification_Ordinary                           73 non-null     bool
 19  Clinical outcome_Aggravated,transfer to superior hospital  73 non-null     bool
 20  Clinical outcome_Aggravated,turn to ICU                    73 non-null     bool
 21  Clinical outcome_Died                                      73 non-null     bool
 22  Clinical outcome_Improved and discharge                    73 non-null     bool
 23  Chest CT findings at discharge_Absorption                  73 non-null     bool
 24  Chest CT findings at discharge_Advances                    73 non-null     bool
 25  Chest CT findings at discharge_No change                   73 non-null     bool
 26  Age Group_Adults                                           73 non-null     bool
 27  Age Group_Middle Aged Adults                               73 non-null     bool
 28  Age Group_Old Adults                                       73 non-null     bool
 29  Age Group_Young Adults                                     73 non-null     bool
dtypes: bool(30)
memory usage: 2.3 KB

# Association Rules Mining

In [12]:
freq_items = apriori(inpatient_cases_data, min_support=0.6, use_colnames=True, max_len=None)
freq_items.head(10)

    support                                           itemsets
0  0.753425                                            (Fever)
1  0.753425                                            (Cough)
2  0.945205                           (COVID-19 RNA clearance)
3  0.671233                 (Clinical classification_Ordinary)
4  0.945205          (Clinical outcome_Improved and discharge)
5  0.876712        (Chest CT findings at discharge_Absorption)
6  0.712329                    (Fever, COVID-19 RNA clearance)
7  0.712329   (Fever, Clinical outcome_Improved and discharge)
8  0.657534  (Chest CT findings at discharge_Absorption, Fe...
9  0.712329                    (COVID-19 RNA clearance, Cough)

In [13]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.8)
rules.head(20)

                                          antecedents  ... conviction
0                                             (Fever)  ...   1.004566
1                                             (Fever)  ...   1.004566
2                                             (Fever)  ...   0.968689
3                                             (Cough)  ...   1.004566
4                                             (Cough)  ...   1.004566
5                                             (Cough)  ...   0.968689
6                  (Clinical classification_Ordinary)  ...        inf
7                            (COVID-19 RNA clearance)  ...        inf
8           (Clinical outcome_Improved and discharge)  ...        inf
9         (Chest CT findings at discharge_Absorption)  ...        inf
10                           (COVID-19 RNA clearance)  ...   1.701370
11                 (Clinical classification_Ordinary)  ...        inf
12                 (Clinical classification_Ordinary)  ...   1.510274
13        (Chest CT findings at discharge_Absorption)  ...        inf
14          (Clinical outcome_Improved and discharge)  ...   1.701370
15                    (Fever, COVID-19 RNA clearance)  ...        inf
16   (Fever, Clinical outcome_Improved and discharge)  ...        inf
17                                            (Fever)  ...   1.004566
18  (Chest CT findings at discharge_Absorption, Fe...  ...        inf
19                    (Fever, COVID-19 RNA clearance)  ...   1.602740

[20 rows x 9 columns]

In [0]:
#converting dataframe to list of lists

#inpatient_cases_list = []
#for i in range(0, 73):
#    inpatient_cases_list.append([str(inpatient_cases_data.values[i,j]) for j in range(0, 20)])

In [0]:
#inpatient_cases_list

In [0]:
#applying association rules

#from apyori import apriori

#association_rules = apriori(inpatient_cases_list, min_support=0.05, min_confidence=0.80, min_lift=2, min_length=2)
#association_results = list(association_rules)

In [0]:
#print(len(association_results))

In [0]:
#print(association_results[0])